* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #FFAFBD;
  background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);
  background: linear-gradient(to bottom, #ffc3a0, #FFAFBD);
}

.container {
  margin: auto;
  margin-top: 5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5em;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
}

canvas {
  position: relative;
  cursor: none;
  border-radius: 3px;
  box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.5);
}

.stats {
  width: 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: white;
}

.stats span {
  margin-right: 0.5em;
  color: #FF0099;
}